<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description-gambolthemes" content="">
<meta name="author-gambolthemes" content="">

<title>Admin</title>
<link href="{{ url_for('admin.static', filename='css/styles.css') }}" rel="stylesheet">
<link href="{{ url_for('admin.static', filename='css/admin-style.css') }}" rel="stylesheet">

<link href="{{ url_for('admin.static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('admin.static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('admin.static', filename='css/typing.css') }}">
<link rel="stylesheet" href="{{ url_for('admin.static', filename='css/chat.css') }}">
  
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

<link href="{{ url_for('admin.static', filename='toast/notific.css') }}" rel="stylesheet"> 

<style type="text/css">
.chatbox__button button {
visibility: hidden;
}
.error_cls, .required_cls{
    color: red;
    font-size:13px;
 }
 .select2-container .select2-selection__choice {
  color: black !important;
}
</style>


</head>

<body id="body" class="sb-nav-fixed">

    {% include "admin/layout/sidebar.html" %}   


