{% extends 'admin/layout/layout.html' %}

{% block content %}


<div class="container-fluid">

    <ol class="breadcrumb mb-30 mt-2">
    <li class="breadcrumb-item active" style="font-size: 18px;font-weight: bold;color: black !important;">Update Team</li>
    </ol>
    <div class="container-fluid">
    
    
    <form id="pageForm">
        
    <div class="row">
    <div class="form-group col-md-6 col-xs-6">
    <label class="form-label" style="font-size:16px !important;">Name <span style="color:red;">*</span></label>
    <input type='text' name="name" id="name" onKeyUp="Removef('name')" placeholder="Enter name" class="form-control"  style="border: 2px solid grey!important;">
    <div class="error_cls" id="error_name"></div>
    </div>
    <div class="form-group col-md-6 col-xs-6">
    <label class="form-label" style="font-size:16px !important;">Profile <span style="color:red;">*</span></label>
    <input type='text' name="profile" id="profile" onKeyUp="Removef('profile')" placeholder="Enter profile" class="form-control"  style="border: 2px solid grey!important;">
    <div class="error_cls" id="error_profile"></div>
    </div>


    <div class="form-group col-md-6 col-xs-6">
        <label class="form-label" style="font-size:16px !important;">File</label>
        <input type='file' name="file" id="file" class="form-control"  style="border: 2px solid grey!important;">
        </div>
    
        <div class="form-group col-md-6 col-xs-6">
            <label class="form-label" style="font-size:16px !important;">Status <span style="color:red;">*</span></label>
            <select name="status" id="status" onchange="Removef('status')" class="form-control"  style="border: 2px solid grey!important;"> 
                <option value="">Select Status</option>
                <option value="1">Active</option>
                <option value="2">De-active</option>
            </select>
            <div class="error_cls" id="error_status"></div>
            </div>    
        
    <div class="form-group col-md-12">
    <button type="button" onclick="dataNormalSave('pageForm', 'btn', '{{ url_for(admin_url + '.addTeam')}}', TeamValidate)" id="btn" class="btn btn-primary btn-sm">Submit</button>
  
    </div>
    </div>
    </form>
    
    
    
    
    </div>
    </div>

{% block javascript %}

<script src="{{ url_for('admin.static', filename='js/newJs/validation.js') }}"></script> 

{% endblock %}
{% endblock %} 